{% extends 'emails/base_email.html.twig' %}

{% block content %}
    <h2>Réservation confirmée</h2>
    <p>Bonjour {{ booking.customer.firstName }},</p>
    <p>Votre réservation a bien été confirmée.</p>

    <div class="detail">
        <p><strong>Référence :</strong> {{ booking.reference }}</p>
        <p><strong>Logement :</strong> {{ booking.lodging.name }}</p>
        <p><strong>Arrivée :</strong> {{ booking.checkin|date('d/m/Y') }}</p>
        <p><strong>Départ :</strong> {{ booking.checkout|date('d/m/Y') }}</p>
        <p><strong>Voyageurs :</strong> {{ booking.guestsCount }}</p>
        <p><strong>Total :</strong> {{ (booking.totalPrice / 100)|number_format(2, ',', ' ') }} €</p>
    </div>

    <p>Nous vous souhaitons un excellent séjour !</p>
{% endblock %}
